.body {
  font-family: 'PremierSans-Bold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}

.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 16px;
}

.rc-slider-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  cursor: -webkit-grab;
  margin-top: -8px;
  cursor: grab;
  border-radius: 50%;
  border: solid 2px #96dbfa;
  background-color: #fff;
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

.unfocused {
  font-size: 14px;
  font-family: 'PremierSans-Bold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.column-header-name {
  font-size: 12px;
  font-family: 'PremierSans-Bold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.column-header--sort {
  font-size: 20px;
}

.dash-header {
  vertical-align: bottom;
  font-weight: bold;
}

.row {
  margin-top: 5px;
}

@media (min-width: 960px) {
  .container{
    max-width: 1200px;
  }
}

.form-control {
  border: 1px solid black;
}

.btn {
  padding: 0.25rem .5rem;
}

.disclaimer {
  text-align: right;
  margin-left: auto;
  font-style: italic;
}

.radioButtons {
  margin-bottom: .2rem;
  margin-right: .5rem;
  font-size: 16px;
}

.dash-table-container {
  border-right: 2px inset #ccc;
}

.dash-graph {
  max-width: 90%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 650px;
}

@media (max-width: 450px){
  .dash-graph {
    max-width: 100%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.nav-item {
  border-radius: 10px 10px 0 0;
  margin-right: 0.5rem;
  color: #fff;
  transition: all .2s;
  background-color: #02894e;
}

.nav-link {
  color: #fff;
}

a:link {
  text-decoration: none;
  color: #e90052;
}

a:visited {
  text-decoration: none;
  color: #e90052;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a.nav-link:link, a.nav-link:visited, a.nav-link:hover 
{   
  text-decoration: none;
  color: white;
}

.nav-tabs .nav-link:active {
  border-radius: 10px 10px 0 0;
  background-color: #fff;
}

.last-update {
  color: #fff;
  background-color: transparent;
}

.tabs {
  font-size: .7rem;
}

.markdown {
  font-size: .8rem;
}

.descriptions {
  font-size: .8rem;
}