.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 16px;
}

.rc-slider-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  cursor: -webkit-grab;
  margin-top: -8px;
  cursor: grab;
  border-radius: 50%;
  border: solid 2px #96dbfa;
  background-color: #fff;
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

.unfocused {
  font-size: 14px;
}

.column-header-name {
  font-size: 12px;
}

.column-header--sort {
  font-size: 20px;
}

.dash-header {
  vertical-align: bottom;
  font-weight: bold;
}

.row {
  margin-top: 5px;
}

@media (min-width: 960px) {
  .container{
    max-width: 1200px;
  }
}

.form-control {
  border: 1px solid black;
}

.btn {
  padding: 0.25rem .5rem;
}

.disclaimer {
  text-align: right;
  margin-left: auto;
}

.radioButtons {
  margin-bottom: .2rem;
  margin-right: .5rem;
  font-size: 16px;
}

.dash-table-container {
  border-right: 2px inset #ccc;
}

.dash-graph {
  max-width: 90%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 650px;
}

@media (max-width: 450px){
  .dash-graph {
    max-width: 100%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}